
<div class="container">

  <!-- logo images -->
  <img class="logo-img row2" src="../assets/eye-2.png">
  <img class="logo-img" src="../assets/eye-1.png">
  <img class="logo-img row2" src="../assets/eye-3.png">

  <!-- title -->
  <h1>KENNEDY RAMSARRAN</h1>

  <nav class="navbar">
    <ul>
      <li class="nav-link"><span>art</span></li>
      <li class="nav-link"><span>about</span></li>
      <li class="nav-link"><span>contact</span></li>
    </ul>
  </nav>


  <div class="photo-grid">
    <div class="img-col">
      <div class="img-wrapper">
        <img src="../assets/IMG_0337.jpeg"/>
      </div>

      <div class="img-wrapper">
        <img src="../assets/IMG_0338.jpeg"/>
      </div>

      <div class="img-wrapper">
        <img src="../assets/IMG_0345.jpeg"/>
      </div>

      <div class="img-wrapper">
        <img src="../assets/IMG_0389.JPG"/>
      </div>
    </div>

    <div class="img-col">
      <div class="img-wrapper">
        <img src="../assets/IMG_1234.jpeg"/>
      </div>
      <div class="img-wrapper">
        <img src="../assets/IMG_1235.jpeg"/>
      </div>
      <div class="img-wrapper">
        <img src="../assets/IMG_1236.jpeg"/>
      </div>
      <div class="img-wrapper">
        <img src="../assets/IMG_1237.jpeg"/>
      </div>
      <div class="img-wrapper">
        <img src="../assets/IMG_9563.jpeg"/>
      </div>
    </div>

    <div class="img-col">
      <div class="img-wrapper">
        <img src="../assets/IMG_1242.jpeg"/>
      </div>
      <div class="img-wrapper">
        <img src="../assets/IMG_1248.jpeg"/>
      </div>
      <div class="img-wrapper">
        <img src="../assets/IMG_9365.jpeg"/>
      </div>
      <div class="img-wrapper">
        <img src="../assets/IMG_9510.jpeg"/>
      </div>
    </div>

    <div class="img-col">
      <div class="img-wrapper">
        <img src="../assets/IMG_1010.jpeg"/>
      </div>
      <div class="img-wrapper">
        <img src="../assets/IMG_1233.jpeg"/>
      </div>
      <div class="img-wrapper">
        <img src="../assets/IMG_1239.jpeg"/>
      </div>
      <div class="img-wrapper">
        <img src="../assets/IMG_1240.jpeg"/>
      </div>
    </div>
  </div>
</div>


<!-- <router-outlet></router-outlet> -->
